<div class="container">
<h1>Stupid Coaching</h1>
<br>
  <h3><%= @question %></h3>
  <p>– You</p>
  <div class="answer">
    <h3><%= @answer  %></h3>
    <p>– Your coach</p>
  </div>
  <%= link_to "Ask a new question", ask_path, :class => "btn btn-primary" %>
</div>
